/* styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  :root {
    --primary_color: #3B71CA;
    --secondary_color: #9FA6B2;
    --success_color: #14A44D;
    --danger_color: #DC4C64;
    --warning_color: #E4A11B;
    --info_color: #54B4D3;
    --light_color: #FBFBFB;
    --dark_color: #332D2D;
    --classic_blue: #34568B;
    --greenary: #88B04B;
    --coral: #FF6F61;
  }
}
